{% extends 'website/base.html' %}

{% load static %}
{% block content %}
    <div class="about-container">
        <div class="about-header">
            <h1>{{ page_title }}</h1>
        </div>
        <div class="about-content">
            <div class="about-section">
                <h2>Цель проекта</h2>
                <p>Целью данной выпускной квалификационной работы является создание веб-сайта блога, который позволит
                    пользователям делиться игровыми впечатлениями и советами, а также обмениваться полезной информацией
                    по
                    различным аспектам видеоигр.</p>
            </div>
            <div class="about-section">
                <h2>Технологии</h2>
                <p>При разработке данного веб-сайта были использованы следующие технологии и языки программирования:</p>
                <ul>
                    <li>1) PyCharm для разработки и отладки кода;
                    <li>2) Python для серверной части приложения;
                    <li>3) PostgreSQL для хранения данных пользователей;
                    <li>4) Django как фреймворк для разработки веб-приложения;
                    <li>5) JavaScript для создания интерактивных элементов;
                    <li>6) CSS3 и HTML5 для верстки и стилизации страниц;
                </ul>
            </div>
            <div class="about-section">
                <h2>Задачи на проект</h2>
                <p>Для достижения поставленной цели необходимо решить следующие задачи:</p>
                <ul>
                    <li>1) Произвести описание предметной области;
                    <li>2) Изучить существующие игровые блоги и проанализировать их функциональность, преимущества и
                        недостатки;
                    <li>3) Определить оптимальные пути продвижения веб-сайта;
                    <li>4) Выбрать программные средства для разработки блога;
                    <li>5) Разработать и протестировать веб-сайт;
                    <li>6) Рассчитать экономическую эффективность проекта.
                </ul>
            </div>
            <div class="about-section">
                <h2>Результат работы</h2>
                <p>Результатом работы является функциональный и удобный веб-сайт,
                    который отвечает потребностям пользователей и способствует развитию игрового
                    сообщества. В будущем планируется расширение функциональности сайта и
                    его адаптация к новым требованиям и пожеланиям пользователей, что
                    позволит сохранить актуальность и востребованность платформы в динамично
                    развивающейся игровой индустрии.</p>
            </div>
        </div>
    </div>
{% endblock %}