# Игнорировать все __pycache__
__pycache__/

# Игнорировать все .pyc, .pyo, .pyd файлы
*.pyc
*.pyo
*.pyd

# Игнорировать все файлы .log
*.log

# Игнорировать папку .idea
.idea/

# Игнорировать файлы .env
.env

venv/

.venv/