<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в аккаунт</title>
    <link type="text/css" href="{% static 'users/css/form_style.css' %}" rel="stylesheet"/>
</head>

<body>
    <div class="login">
        <div class="form">
            <h2>Welcome</h2>
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <input type="submit" value="Sign In" class="submit">
        </div>
    </div>
</body>
</html>