@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap");

body {
  background: url("../img/background02.jpg") center/cover no-repeat fixed;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

form {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px;
  font-size: 20px;
  width: 600px;
  border-radius: 30px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

h2 {
  font-weight: 900;
  letter-spacing: 2px;
  padding-bottom: 30px;
  color: white;
  margin: 0;
}

hr {
  display: block;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

label {
  letter-spacing: 2px;
  margin-bottom: 10px;
}

input {
  color: white;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  transition: border-color 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

input:focus {
  outline: none;
}

label,
input {
  display: block;
  width: 100%;
}

label {
  text-align: left;
}

input {
  box-sizing: border-box;
}

input:hover,
input:focus {
  border-color: rgb(65, 90, 119);
}

button {
  letter-spacing: 2px;
  margin-top: 40px;
  padding: 12px 24px;
  font-size: 16px;
  background: linear-gradient(90deg, rgba(50, 205, 50, 0.8), rgba(34, 139, 34, 0.8));
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
  background: linear-gradient(90deg, rgba(34, 139, 34, 0.8), rgba(50, 205, 50, 0.8));
  transform: scale(1.05);
}

button a {
  text-decoration: none;
  color: white;
}

.switch-form {
  margin-top: 20px;
}

.switch-form p {
  font-size: 14px;
}

.switch-form a {
  color: rgba(50, 205, 50, 0.8);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.switch-form a:hover {
  color: rgba(34, 139, 34, 0.8);
}

.form-error {
  margin-top: -20px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: rgba(255, 69, 58, 0.9);
}
